body {
    margin: 0%;
    padding: 0%;
    width: 100%;
    font-style: normal;
    text-align: center;
    color: white;
    align-items: center;
}

/********************************Header : Menu ********************************/
header {
    margin: 0px;
    padding-top: 20px;
    background-color: black;
    padding-bottom: 0%;

}

h1 {
    font-size: 4rem;
    border-style: double 20px;
}

.menu {
    height: 52px;
    padding-bottom: 0%;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 0%;
}

/**************************Body: Présentation*******************************/

.presentation {
    margin: 0;
    padding: 0;
    background-image: url("../image/fond.png");
    background-size: cover;
    height: 46rem;
}
.presentation .contenu {
    margin: 0%;
}
p {
    margin :0;
}
.presentation h2 {
    margin: 0%;
    font-size: 4rem;
    border-style: double 20px;
}



/**************************Body:me contacter*******************************/

.meContacter{
    margin: 0;
    padding: 0;
    background-image: url("../image/fond.png");
    background-size: cover;
    height: 46rem;
}
.meContacter .contenu {
    margin: 0%;
}
p {
    margin :0;
}
.meContacter h2 {
    margin: 0%;
    font-size: 4rem;
    border-style: double 20px;
}

/**************************Body:Source*******************************/

.Source{
    margin: 0;
    padding: 0;
    background-image: url("../image/fond.png");
    background-size: cover;
    height: 46rem;
}
.Source .contenu {
    margin: 0%;
}
p {
    margin :0;
}
.Source h2 {
    margin: 0%;
    font-size: 4rem;
    border-style: double 20px;
}

.Source a{
    text-decoration: none;
    color: #0da397;
}

/********************************Footer****************************************/
footer {
    margin: 0;

    background-color: #000000;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 0.58%;
}

.footer p {
    padding-top: 14px;
    margin: 0%;
}

.footer a {
    text-decoration: none;
    color: #ffffff;
}

